[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
psycopg2-binary = "*"
pyt = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-wtf = "*"
flask-login = "*"
requests = "*"
plotly = "*"
dash = "*"
dash-bootstrap-components = "*"
polygon-api-client = "*"
stockstats = "*"
pandas = "*"
numpy = "*"
requests-html = "*"
flask-caching = "*"
dash-table = "*"
dash-html-components = "*"
dash-daq = "*"
celery = "*"
redis = "*"
toml = "*"
python-dotenv = {extras = ["cli"], version = "*"}

[dev-packages]
ipykernel = "*"
pytest = "*"
pytest-mock = "*"
pytest-cov = "*"

[requires]
python_version = "3.12"
